*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
   width:  100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#main{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}
#back{
    width: 100%;
    height: 100vh;

}

#back img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#top{
    pointer-events: none;
    position: absolute;
    top: 0%;
    right: 0%;
    
    width: 100%;
    height: 100vh;
}

#work-area{
    width: 80%;
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    height: 100vh;
    /* border: 1px solid red; */
}

#nav{
    
    width: 100%;
    /* padding: 40px 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav img{
    height: 60px;

}

#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 60px;
}

#nleft a{
    pointer-events: all;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

#nav a{
    
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

#hero{
    /* margin-top: 60px; */
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    width: 100%;

    display: flex;
    justify-content: space-between;
}
#heroleft{
    min-width: 50%;
    /* margin: 80px; */
    
    
}

#heroleft .elem{
    position: relative;
    height: 9vw;
    overflow: hidden;
}

#heroleft .elem h1:nth-child(1){
top: 0;
}
#heroleft .elem h1{
    position: absolute;
    line-height: .9;
    top: 100%;
    left: 0;

    font-family: "kajiro";
    font-weight: 100;
    color: white;
    font-size: 11vw;
}

#heroright{
    width: 25%;
    color: white; 
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#heroleft button{
    padding: .8vw 3vw;
    font-size: 3vw;
    font-family: "kajiro";
    margin-top: 2vw;
    pointer-events: all;
}



#heroright p{
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    /* margin-bottom: px; */
}

#heroright #imagediv{
    width: 100%;
    height: 170px;
    background-image: url(https://images.unsplash.com/photo-1534083220759-4c3c00112ea0?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    
    margin-top: 20px;
    margin-bottom: 30px;
}

#heroright p:nth-child(3){
    margin-bottom: 100px;
}


